* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: rgb(233, 233, 233);
}

body {
    background-color: beige;
    width: 500px;
    border-radius: 25px;
    padding: 30px 50px;
    margin: 50px auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0px;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px auto;
    border-radius: 25px;
    border: 2px solid rgb(97, 97, 97);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

li {
    margin: 8px 0px;
}

li::marker {
    font-weight: bold;
}